*, input, button, select, textarea {
  font-family: 'Dosis', sans-serif;
}

body {
    background-color: #F6E9D5;
}

#topnav {
  padding-left: 20px;
}

#contentdiv {
  margin-top: 80px;
}

#linkdiv {
  min-width: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  color: #392310;
}

.textfield {
  height:36px;
  font-size:16px; 
  margin-bottom:15px; 
  padding:7px 9px;
}

#left {
    float: left;
    width: 400px;
    position: relative;
}
#left2 {
    height: 200px;
    margin: 0 0 0 30px;
    background: #ccc
}
#right {
    height: 200px;
    float: right;
}